<%- include ('Layout/header') %>
<head>
  <title>Motion Resume</title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Motion Resume</a></li>
        <input type="text" placeholder="Search.." />
        <li><a href="/connect-to-people">Connect To People</a></li>
        <li><a href="/available-jobs">Available Jobs</a></li>
        <li><a href="/messages">Messages</a></li>
        <li><a href="/notifications">Notifications</a></li>
        <li><a href="/my-profile">My Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>

  <h3>Page content</h3>
</body>
<%- include ('Layout/footer') %>
