<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Motion Resume | Web</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <style>
         .bg-custom-1 {
         background-color: #85144b;
         }
         .bg-custom-2 {
         background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
         }
         #profile {
            position: relative;
            top: -20px; 
             right: 20px;
         }
      </style>
   </head>
   <body>
      <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
         <a class="navbar-brand" href="#">
         <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/logo_white.png" width="30" height="30" alt="logo">
         BootstrapBay
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu" id="profile" aria-labelledby="navbarDropdownMenuLink">
                       <a class="dropdown-item" href="#">My Profile</a>
                       <a class="dropdown-item" href="#">Add Job</a>
                       <a class="dropdown-item" href="#">Log Out</a>
                    </div>
                 </li>
            </ul>
          </div>
         </div>
      </nav>
   </body>
</html>