<% include ('layout/header') %>
<label for="company_url"><b>Company URL</b></label>
<input type="text" placeholder="Post Something!" name="posts" id="posts" />
<div class="row">
  <form class="form-inline">
    <div class="form-group">
      <label for="photo">Add Image</label>
      <input type="file" id="add-image" />
      <label for="video">Add Video</label>
      <input type="file" id="add-video" />
    </div>
  </form>
</div>
<ul>
  <li><a href="#">Recruiter Information</a></li>
  <li><a href="#">My Posts</a></li>
</ul>
<% include ('layout/footer') %>
