<!DOCTYPE html>
<html lang="en">

<head>
  <title>Motion Resume | Web</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=shadow-multiple">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <style>
    .navbar {
      color: #805b23 !important;
    }

    a:hover {
      text-decoration: none;
      color: #805b23;
    }

    .text-child-navbar {
      margin: 0 auto;
      margin-top: -10px;
    }

    .navbar-fa {
      font-size: 140%;
    }

    .nav-item {
      /* width: 100px; */
      /* padding: 5%; */
    }
  </style>
</head>

<body>
  <nav class="navbar w3-card navbar-expand-sm">
    <a class="navbar-brand" href="/motion_resume">
      <img src="./img/logo.png" width="90" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item center">
          <a class="nav-link px-3" href="/registration">
            <p style="text-align: center;">
              <i class="fa fa-user navbar-fa" aria-hidden="true"></i>
              <h4 class="text-child-navbar">Sign Up</h4>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="/">
            <p style="text-align: center;">
              <i class="fa fa fa-sign-in navbar-fa" aria-hidden="true"></i>
              <h4 class="text-child-navbar">Login</h4>
            </p>
          </a>
        </li>
        <li class="nav-item center">
          <a class="nav-link px-3" href="/#">
            <p style="text-align: center;">
              <i class="fa fa-info-circle navbar-fa" aria-hidden="true"></i>
              <h4 class="text-child-navbar">Help</h4>
            </p>
          </a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
</body>

</html>
